<%= form_for(:user_sessions, url: :user_sessions) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br />

  <%= f.label :password %>
  <%= f.password_field :password %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
